@font-face {
  font-family: 'Rubik Medium';
  src: url("../fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Rubik';
  src: url("../fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular_0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 18px; }
  @media screen and (max-width: 768px) {
    body {
      font-size: 16px; } }
  @media screen and (max-width: 480px) {
    body {
      font-size: 14px; } }

a {
  color: inherit; }

a:hover {
  color: #f39200; }

.section-wrapper {
  margin: 0 auto; }

.section-wrapper--grey {
  background: #f9f9fb; }

.first-section {
  background: url(../img/banner.jpg) center 100% no-repeat;
  background-size: cover;
  height: auto; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1295px;
  margin: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 15px; }

.logo {
  margin-left: 80px; }
  @media screen and (max-width: 768px) {
    .logo {
      margin-left: 35px; } }

.header__right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto; }

.menu__icon {
  height: 17px;
  width: 25px;
  background: url(../img/menu-icon.png) center center no-repeat; }

.menu__icon:hover {
  background: url(../img/menu-icon-orange.png) center center no-repeat;
  cursor: pointer; }

.menu__container {
  position: fixed;
  left: 0px;
  top: 0px;
  display: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  width: 320px;
  background-color: #f9f9fb;
  -webkit-box-shadow: 1em -1em 10px rgba(227, 226, 226, 0.5);
  box-shadow: 1em -1em 10px rgba(227, 226, 226, 0.5);
  padding: 25px;
  font-family: "Rubik Medium";
  z-index: 999; }
  @media screen and (max-width: 690px) {
    .menu__container {
      width: 100%; } }

.menu__container .tel {
  padding: 0; }

.close {
  position: absolute;
  right: -50px;
  top: 25px;
  width: 24px;
  height: 24px;
  cursor: pointer; }
  @media screen and (max-width: 690px) {
    .close {
      right: 10%; } }

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 24px;
  width: 4px;
  background-color: #000; }

.close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.container-el {
  padding: 25px 0 25px 0;
  border-bottom: 1px solid #dde0e9; }

.menu__title {
  font-size: 20px;
  color: #f39200; }

.menu__item {
  padding: 25px 0 25px 0;
  border-bottom: 1px solid #dde0e9; }

.submenu__list {
  padding-top: 25px; }

.submenu__item {
  padding: 15px 0; }

.submenu__link {
  font-size: 14px;
  font-family: "Rubik"; }

.tel {
  font-family: "Rubik Medium";
  font-size: 1.375rem;
  line-height: 3.5rem;
  padding: 0 40px; }
  @media screen and (max-width: 768px) {
    .tel {
      padding: 0 25px; } }
  @media screen and (max-width: 1050px) {
    .tel {
      font-size: 1.125rem; } }
  @media screen and (max-width: 690px) {
    .tel {
      display: none; } }

@media screen and (max-width: 690px) {
  .tel--menu {
    display: block; } }

.tel:hover {
  color: orange;
  cursor: pointer; }

.callback__link {
  font-family: "Rubik";
  color: #f39200;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 3.5rem;
  border: 2px solid #f39200;
  border-radius: 20px;
  padding: 10px 20px; }
  @media screen and (max-width: 690px) {
    .callback__link {
      display: none; } }

@media screen and (max-width: 690px) {
  .callback__link--menu {
    display: block;
    border-radius: 30px;
    padding: 0px;
    text-align: center; } }

.callback__link:hover {
  color: #fff;
  background: #f39200; }

.tel__icon {
  display: none;
  width: 50px; }
  @media screen and (max-width: 690px) {
    .tel__icon {
      display: block; } }
  @media screen and (max-width: 480px) {
    .tel__icon {
      width: 35px; } }

@media screen and (max-width: 768px) {
  .logo__img {
    width: 180px; } }

@media screen and (max-width: 1050px) {
  .logo__img {
    width: 240px; } }

@media screen and (max-width: 375px) {
  .logo__img {
    width: 160px; } }

.lng__switch {
  font-family: "Rubik Medium";
  text-transform: uppercase;
  font-size: 0.875rem;
  padding-left: 40px; }
  @media screen and (max-width: 1050px) {
    .lng__switch {
      display: none; } }

.lng {
  margin: 0px 10px;
  color: grey; }

.lng:hover {
  color: orange; }

.lng_active {
  color: #000; }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1060px;
  margin: 0 auto;
  padding: 15px; }
  @media screen and (max-width: 768px) {
    .banner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.banner__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 544px;
  margin: 130px auto; }
  @media screen and (max-width: 768px) {
    .banner__text {
      margin: 20px auto;
      text-align: center; } }

.banner__item--big {
  font-family: "Rubik";
  font-size: 2.75rem;
  line-height: 3.5rem;
  font-weight: 800; }
  @media screen and (max-width: 768px) {
    .banner__item--big {
      font-size: 36px; } }

.banner__item--big span {
  color: #f39200; }

.banner__item--small {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  font-family: 'Roboto';
  margin-top: 20px; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  z-index: 20;
  width: 380px;
  height: 410px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 100px auto;
  opacity: 0.91; }
  @media screen and (max-width: 768px) {
    .form {
      margin: 20px auto; } }
  @media screen and (max-width: 480px) {
    .form {
      width: 280px; } }

.form__block {
  margin: 15px 20px; }

.form__checkbox {
  width: 250px;
  padding: 5px 0; }
  @media screen and (max-width: 1050px) {
    .form__checkbox {
      width: 180px; } }
  @media screen and (max-width: 480px) {
    .form__checkbox {
      width: 250px; } }

.privacy {
  text-decoration: underline; }

.order {
  background-color: #f39200;
  border-radius: 15px;
  border-bottom-color: #fff;
  border-width: 0px;
  padding: 10px 20px;
  margin: 15px 0; }
  @media screen and (max-width: 480px) {
    .order {
      width: 250px; } }

.checkbox__text {
  font-family: 'Roboto';
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem; }

.service-section {
  background-color: #f9f9fb; }

.section_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 1050px) {
    .section_list {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start; } }

.section__item {
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 25px; }
  @media screen and (max-width: 1050px) {
    .section__item {
      width: 50%;
      padding: 15px; } }
  @media screen and (max-width: 480px) {
    .section__item {
      width: 100%;
      padding: 10px; } }

@media screen and (max-width: 480px) {
  .section__item-link--horizont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.section__item:hover {
  background-color: #f9f9fb; }

.section__item--brdr {
  border: 1px solid #dde0e9; }

.form--mod {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 240px;
  width: 910px; }
  @media screen and (max-width: 768px) {
    .form--mod {
      width: 650px; } }
  @media screen and (max-width: 480px) {
    .form--mod {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      width: 300px;
      height: auto; } }

.vert-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 60%; }
  @media screen and (max-width: 1050px) {
    .vert-wrapper {
      width: 50%; } }
  @media screen and (max-width: 480px) {
    .vert-wrapper {
      width: 100%;
      padding: 0px 25px; } }

.section {
  max-width: 1280px;
  margin: 0 auto;
  height: auto;
  padding: 100px 25px 140px 25px; }
  @media screen and (max-width: 1050px) {
    .section {
      padding: 80px 25px 40px 25px; } }

.section__title {
  margin-bottom: 50px;
  font-family: 'Rubik Medium';
  font-size: 2rem; }

.section__text {
  margin-bottom: 45px;
  font-family: 'Roboto'; }

.section__item-img {
  width: 260px;
  margin: 0 auto;
  display: block; }
  @media screen and (max-width: 1050px) {
    .section__item-img {
      width: 200px; } }
  @media screen and (max-width: 768px) {
    .section__item-img {
      width: 140px; } }
  @media screen and (max-width: 480px) {
    .section__item-img {
      max-width: 50px;
      margin: 15px 15px; } }

.section__item-title {
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: 'Rubik Medium'; }
  @media screen and (max-width: 768px) {
    .section__item-title {
      padding-top: 20px; } }
  @media screen and (max-width: 480px) {
    .section__item-title {
      padding: 20px; } }

.section__item-title--direction {
  padding-bottom: 0px;
  font-family: 'Rubik'; }

.section__item-text {
  font-family: 'Rubik Medium';
  color: #828282;
  line-height: 1.5; }

.section__item-img--left {
  -ms-flex-item-align: end;
  align-self: flex-end; }
  @media screen and (max-width: 480px) {
    .section__item-img--left {
      height: 40px; } }

.horizont-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .horizont-wrapper {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; } }
  @media screen and (max-width: 480px) {
    .horizont-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.section__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
  max-width: 910px;
  position: relative; }

.form__input {
  width: 250px; }

.form__textarea {
  height: 90px;
  resize: none;
  width: 250px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px 0; }
  @media screen and (max-width: 1050px) {
    .form__textarea {
      height: 65px; } }

.form__textarea--big {
  width: 100%; }

.msg {
  position: absolute;
  right: 0;
  top: -15px;
  padding: 40px;
  background-color: #e7e4e4; }
  @media screen and (max-width: 480px) {
    .msg {
      display: none; } }

.contacts-section {
  background: url(../img/map-dots.png) center center no-repeat; }

.section_list--transp {
  background: none; }
  @media screen and (max-width: 768px) {
    .section_list--transp {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

@media screen and (max-width: 1050px) {
  .section__item--contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; } }

@media screen and (max-width: 480px) {
  .section__item--contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 20px 0; } }

@media screen and (max-width: 1050px) {
  .city, .direction {
    width: 50%; } }

@media screen and (max-width: 480px) {
  .city, .direction {
    width: 100%; } }

.section__title--center {
  text-align: center; }

.contacts-icon {
  height: 24px;
  width: 24px;
  margin: 0px 5px -5px 5px; }

.map__section {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#map {
  width: 100%;
  height: 420px; }

.section__item--center {
  border-left: 2px solid #e9e3e1;
  border-right: 2px solid #e9e3e1; }
  @media screen and (max-width: 768px) {
    .section__item--center {
      border-top: 2px solid #e9e3e1;
      border-bottom: 2px solid #e9e3e1;
      border-left: none;
      border-right: none; } }

.footer__section {
  padding: 0; }

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1rem; }
  @media screen and (max-width: 480px) {
    .footer__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.footer__item {
  width: 33.33%;
  text-align: center;
  font-family: 'Roboto'; }
  @media screen and (max-width: 480px) {
    .footer__item {
      width: 80%;
      padding: 10px; } }

.fancybox-bg {
  background: #252323; }

.fancybox-close-small {
  color: #000;
  width: 66px; }

.form--modal {
  width: 495px;
  height: 520px;
  margin: 15px auto; }

.fancybox-content {
  padding: 0;
  overflow: hidden; }

.form__title {
  font-family: "Rubik Medium";
  font-size: 32px;
  font-weight: 500; }

input:focus:invalid {
  border: 2px solid red; }

input:focus:valid,
textarea:focus:valid {
  border: solid 2px #7db9c4;
  background-color: #fff; }

/*# sourceMappingURL=main.css.map */